<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517958385331-rtg548966kt65i4qchhn0a4ocv1050u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517958385331-rtg548966kt65i4qchhn0a4ocv1050u4</string>
	<key>API_KEY</key>
	<string>AIzaSyBT0t6mo-EJlIOMRn6e6hcHr3lR5_4meoc</string>
	<key>GCM_SENDER_ID</key>
	<string>517958385331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarScheduler.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>calendar-schedule-shk-230304</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-schedule-shk-230304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517958385331:ios:c6742923542f3682753ac6</string>
</dict>
</plist>