asttokens==3.0.0
bottle==0.13.2
cffi==1.17.1
clr_loader==0.2.7.post0
colorama==0.4.6
decorator==5.1.1
executing==2.2.0
ipython==8.32.0
jedi==0.19.2
Jinja2==3.1.5
jsonpickle==4.0.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
networkx==3.4.2
parso==0.8.4
prompt_toolkit==3.0.50
proxy-tools==0.1.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
pythonnet==3.0.5
pyvis==0.3.2
pywebview==5.4
qt-material==2.14
shiboken6==6.8.2.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
